<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<appSettings>
		<!-- File monitoring settings -->
		<add key="SourceFolder" value="C:\Folder1"/>
		<add key="DestinationFolder" value="C:\Folder2"/>
	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<!-- File target with rolling -->
			<target xsi:type="File" name="fileTarget"
					fileName="${basedir}/Logs/FileMonitorService-${shortdate}.log"
					layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
					archiveFileName="${basedir}/Logs/FileMonitorService-{#####}.log"
					archiveAboveSize="10485760"
					archiveNumbering="Sequence"
					concurrentWrites="true"
					keepFileOpen="false"
					maxArchiveFiles="30" />

			<!-- Event Log target -->
			<target xsi:type="EventLog" name="eventlog"
					source="FileMonitorService"
					log="Application"
					layout="${message}${newline}${exception:format=tostring}" />

			<!-- Console target for debugging -->
			<target xsi:type="Console" name="console"
					layout="${time} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
		</targets>

		<rules>
			<!-- All logs go to file -->
			<logger name="*" minlevel="Info" writeTo="fileTarget" />

			<!-- Important logs go to Event Log -->
			<logger name="*" minlevel="Warn" writeTo="eventlog" />

			<!-- Console output for debugging -->
			<logger name="*" minlevel="Debug" writeTo="console" />
		</rules>
	</nlog>
</configuration>